.user-preferences-form {
    display: flex;
    flex-direction: column;
    text-align: center;

    .title {
        margin-bottom: 1rem;
    }

    .restaurant-logo {
        width: 6rem;
        height: auto;
        place-self: center;
    }

    .GridContainer {
        width: 2rem;
        height: auto;
        place-self: center;
    }

    .Grid {
        place-self: center;
    }

    .ButtonContainer {
        font-size: 1.25rem;
        width: 5rem;
        display: inline-block;
        border-radius: 1rem;
        opacity: 0.3;
        :hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
                0 12px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

    .ButtonContaineractive {
        font-size: 1.25rem;
        opacity: 1;
        width: 5rem;
        display: inline-block;
        border-radius: 1rem;
    }

    .next-button {
        margin-top: 1rem;
        font-weight: bold;
        align-self: center;
        font-size: 1.5rem;
    }
}
