:root {
    --yellow-500: #ffeb3b;
    --alerting-red: #a03c3c;
    --primary-color: var(--yellow-500);
    --header-height: 3rem;
    --app-height: calc(100% - var(--header-height));
}

#root,
body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
    margin: 0;
    background-color: #033047;
    color: white;
}

a {
    text-decoration: none;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#__react-alert__ div div div {
    /* width: auto !important; */
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-transform: initial !important;
    font: inherit !important;
    padding: 8px 10px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow-500);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
