:root {
    --alerting-red: #a03c3c;
}

#root,
body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #15202b;
    color: white;
}

a {
    text-decoration: none;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media screen and(max-width: 1275px) {
    #root,
    body,
    html {
        font-size: 14px;
    }
}

@media screen and(max-width: 1000px) {
    #root,
    body,
    html {
        font-size: 12px;
    }
}

@media screen and(max-width: 650px) {
    #root,
    body,
    html {
        font-size: 10px;
    }
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
