:root {
    --alerting-red: #a03c3c;
}

#root,
body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
    margin: 0;
    background-color: #033047;
    color: white;
}

a {
    text-decoration: none;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
