.results-list {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0.5rem;
    place-items: center;
    width: fit-content;
    align-self: center;
    margin-bottom: -2rem;
    margin-top: 3rem;
    z-index: 1;

    .dish-avatar {
        margin-left: -0.5rem;
    }
}
