.no-ad {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.main {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;

    .screen-field {
        display: flex;
        flex-direction: column;

        .select-screen {
            width: 14rem;
        }
    }
}
