.preferences-photo-form {
    display: flex;
    flex-direction: column;
    max-height: 100% !important;
    height: 100% !important;

    .restaurant-logo {
        width: 6rem;
        height: auto;
        place-self: center;
        margin-top: 5rem;
    }

    .finish-button {
        align-self: center;
        margin-top: auto;
        margin-bottom: 1.5rem;
        font-weight: bold;

        svg {
            font-size: 1.5rem;
        }
    }

    .swipe {
        display: flex;
        position: absolute;
        padding: 1rem;
        margin-top: 2rem;
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .card {
        position: relative;
        background-color: #fff;
        height: 20vh;
        width: 22rem;
        max-width: 20vh;
        padding: 2rem;
        background-size: cover;
        background-position: center;
        border-radius: 2rem;
        box-shadow: 1px 1px 2px 5px rgba(228, 207, 207, 0.3);
    }

    .card > span {
        position: absolute;
        font-size: 1.5rem;
        color: rgb(192, 46, 192);
        background-color: rgb(236, 197, 197);
        border-radius: 6rem;
        bottom: 0px;
        left: 0px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .ImageName {
        /* 1 pixel black shadow to left, top, right and bottom */
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: white;
        position: absolute;
        bottom: 0;
    }

    .actions {
        padding-top: 13rem;
        display: flex;
        margin-top: auto;
        justify-content: space-between;
        width: 6rem;
        align-self: center;

        .like {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            background-color: white;
            color: rgb(118, 199, 141);

            &:hover {
                color: rgb(100, 168, 119);
            }
        }

        .dislike {
            box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.4);
            background-color: white;
            color: var(--alerting-red);
            &:hover {
                color: var(--alerting-red-hover);
            }
        }
    }
}
