.results-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    max-height: 100% !important;

    .restaurant-logo {
        width: 6rem;
        height: auto;
        padding: 1rem;
    }

    .results-content {
        display: flex;
        flex-direction: column;
        height: 55%;
    }

    .title {
        /* 1 pixel black shadow to left, top, right and bottom */
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: sans;
        color: yellow;
    }

    .half-circle {
        width: 16rem;
        height: 8rem; /* as the half of the width */
        background-color: var(--yellow-500);
        border-bottom-left-radius: calc(
            8rem + 10px
        ); /* 100px of height + 10px of border */
        border-bottom-right-radius: calc(
            8rem + 10px
        ); /* 100px of height + 10px of border */
        align-self: center;
        border-bottom: 0;
        z-index: 2;
    }

    .share-button {
        margin-top: 2rem;
    }
}
