.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);

    .user-avatar {
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .back-button {
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
}
