.loader-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden !important;

    .text {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
    }
}
