.group-lobby {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    text-align: center;
    padding: 2rem;

    .amount,
    .group-name {
        color: var(--primary-color);
    }

    .restaurant-logo {
        width: 6rem;
        height: auto;
        place-self: center;
    }
}
